<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div class="containnner">
    <h1>Welcome to the Home Page</h1>
  <nav>
    <a href="/">Home</a> |
    <a href="/about">About Us</a> |
    <a href="/contact">Contact Us</a>
  </nav>
  </div>
  <p>This is a homepage come and explore nothing</p>
</body>
</html>
